rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth != null && request.auth.uid != null;
  }
  match /databases/{database}/documents {
    match /tasks/{id}/{document=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == resource.data.userId;
      allow create: if isAuthenticated();
    }
    match /taskLogs/{id}/{document=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == resource.data.userId;
      allow create: if isAuthenticated();
    }
    match /profiles/{userId}/{document=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
      allow create: if isAuthenticated();
    }
    match /rewards/{reward}/{document=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == resource.data.userId;
      allow create: if isAuthenticated();
    }
  }
}